<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="/user/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-newspaper-o"></i>
            <span class="nav-link-text">Posts</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapsePosts">
            <li>
                <a href="/user/posts ">
                    <i class="fa fa-fw fa-list"></i>
                    All Posts
                </a>
            </li>
            <li>
                <a href="/user/posts/create">
                    <i class="fa fa-fw fa-plus"></i>
                    Create Post
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/user/categories">
            <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">Categories</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/user/comments">
            <i class="fa fa-fw fa-comments-o"></i>
            <span class="nav-link-text">Comments</span>
        </a>
    </li>
</ul>